werkzeug>=0.14
Flask
Flask-Session
Flask-Migrate
Flask-SQLAlchemy
Flask-Script
Flask-Caching
Flask-Admin
SQLAlchemy
passlib
feedparser
pytest
psycopg2
shapely
GeoAlchemy2
requests
six
exponent_server_sdk
uwsgi
boto3
passlib
redis
