<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hangline -- APP</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="/static/libs/bootstrap.min.css">
  </head>
  <body class="body-5">
    <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; justify-content: center; align-items: center; background-color: #f56972">
      <p style="text-align: center; font-family: monospace; font-size: 32px; color: white;">Monthly server update, check back soon :)</p>
    </div>
  </body>
</html>
